@font-face {
  font-family: 'Nunito Sans';
  src:
    url(./NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('ttf supports variations'),
    url(./NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('woff2-variations');
  font-weight: 400 800;
  font-display: swap;
}
